body
   {
    color:rgb(0, 16, 246)
   }

   .lam{
    width:120px;
    height:100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
html{
  background: rgb(140, 149, 128);
}


.box{
  background-color: rgb(169, 127, 127);
}
.inner-boxes{
  background-color: rgb(154, 111, 125);
 
  
}